<p>Choose your weapon!</p>

<form action="/player2page" class="fullwidthtext">
  <div class="form-group">
    <label for="player1choice-form">  </label><br>
    <input id="player1choice-form" name="choice" type="radio" value="rock"> Rock
    <br>
    <input name="choice" type="radio" value="paper"> Paper
    <br>
    <input name="choice" type="radio" value="scissors"> Scissors
  </div>
  <button type="submit" class="btn btn-default">Prepare for battle</button>
</form>
